{% extends "myadmin/base.html" %}
{% block mainbody %}
<h1>
	添加会员
</h1>
<form id="edit-profile" class="form-horizontal" method="post" action="{% url 'myadmin_users_update' user.id %}">
	{% csrf_token %}
	<fieldset>
		<legend>你的信息</legend>
		<div class="control-group">
			<label class="control-label" for="input01" >姓名</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01"
				 name="user_name" value="{{ user.user_name }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">昵称</label>
			<div class="controls">
				<input type="text" class="input-xlarge"
				 name="nick_name" value="{{ user.nick_name }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">密码</label>
			<div class="controls">
				<input type="password" class="input-xlarge" placeholder="数字，字母，下划线" name="password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">确认密码</label>
			<div class="controls">
				<input type="password" class="input-xlarge" placeholder="再次输入密码"/>
			</div>
		</div>						
		<div class="control-group">
			<label class="control-label" for="input01">性别</label>
			<div class="controls">
				{% if user.sex == 0 %}
					<input type="radio" name="sex" value="1">男
					<input type="radio" name="sex" value="0" checked>女
				{% else %}
					<input type="radio" name="sex" value="0">女
					<input type="radio" name="sex" value="1" checked>男
				{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">地址</label>
			<div class="controls">
				<input type="text" name="address" class="input-xlarge" 
				 placeholder="广东省深圳市南山区xx街道xx栋xx层xx室" value="{{ user.address }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">邮编</label>
			<div class="controls">
				<input type="text" name="code" class="input-xlarge" 
				 placeholder="335200" value="{{ user.code }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">手机号码</label>
			<div class="controls">
				<input type="text" name="phone" class="input-xlarge"
				 placeholder="139 1391 3913" value="{{ user.phone }}"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">邮箱</label>
			<div class="controls">
				<input type="text" name="email" class="input-xlarge"
				 placeholder="12345@qq.com" value="{{ user.email }}"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
		</div>
	</fieldset>
</form>
{% endblock mainbody %}