<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>手机-魅族商城</title>
  <meta name="description" content="魅族商城提供各种全部商品产品，包括手机,智能设备,智能穿戴,游戏设备,数码影音,手机配件/移动电源,移动存储/办公设备,生活周边，品质保障，可按推荐、商品上架时间，价格等放心购买，魅族商城将为您提供最好的子类目名称产品，全场包邮，7天无理由退货，15天换货保障。">
  <meta name="keywords" content="全部商品,手机,智能设备,智能穿戴,游戏设备,数码影音,手机配件/移动电源,移动存储/办公设备,生活周边，魅族，魅族手机，魅族商城">
    <link href="./public/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="./public/img/favicon.ico" rel="icon" type="image/x-icon">
  <!-- Bootstrap -->
  <link href="./public/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="./public/js/jquery-1.12.4.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="./public/js/bootstrap.min.js"></script>
  <!-- 兼任ie9以下 -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!-- 自定义 -->
  <link rel="stylesheet" type="text/css" href="./public/css/global.css">
  <link rel="stylesheet" type="text/css" href="./public/css/app.css">
  
  <link rel="stylesheet" type="text/css" href="./public/css/list.css">
  <link rel="stylesheet" type="text/css" href="./public/css/list-app.css">

  <script type="text/javascript" src="./public/js/rem.js"></script>
  <script type="text/javascript" src="./public/js/topNav.js"></script>


</head>
<body class="list app">
  <!-- 导航 --> 
  <div class="layout-header" id="scroll-wrap">
    <nav class="navbar navbar-default navbar-fixed-top header hidden-xs hidden-sm">
      <div class="container clearfix">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="layout-header-logo navbar-left">
              <a target="_blank" href="./index.html" class="layout-header-logo-link" alt="魅族科技">
                <img src="./public/img/logo.png">
              </a>
          </div>
          <ul class="nav navbar-nav navbar-right layout-header-service clearfix">
            <li class="layout-header-service-item" id="layoutHeaderUser">
                <a class="layout-header-service-link g-user" href="#">
                  <i class="glyphicon glyphicon-user"></i>
                </a>
                <div class="layout-user-downmenu">
                  <ul class="layout-user-downmenu-list">
                    <li class="layout-user-downmenu-item">
                      <a href="#" class="layout-user-downmenu-link">立即登录</a>
                    </li>
                    <li class="layout-user-downmenu-item">
                      <a href="#" target="_blank" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_register">立即注册</a>
                    </li>
                    <li class="layout-user-downmenu-item">
                      <a href="//ordercenter.meizu.com/list/index.html" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_myorder">我的订单</a>
                    </li>
                    <li class="layout-user-downmenu-item">
                      <a href="//store.meizu.com/mformy/index" class="layout-user-downmenu-link" data-mtype="wmz_public_grzx_mformy">M码通道</a>
                    </li>
                  </ul>
                </div>
            </li>
            <li class="layout-header-service-item layout-header-service-cart" id="layoutHeaderCart">
                <a class="layout-header-service-link" href="#" data-mtype="wmz_public_yt_cart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <span class="layout-header-service-cart-num">0</span>
                </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right layout-header-nav clearfix">
            <li class="layout-header-nav-item">
              <a href="./index.html" class="layout-header-nav-link">魅族商城 </a><p class="line-top hidden-xs"></p>
            </li>
            <li class="layout-header-nav-item">
              <a href="./list.html" class="layout-header-nav-link">魅族手机</a>
            </li>
            <li class="layout-header-nav-item"><a href="./list.html" class="layout-header-nav-link">魅蓝手机</a></li>
            <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">魅族声学</a></li>
            <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">智能·配件</a></li>
            <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">服务</a></li>
            <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">专卖店</a></li>
            <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">Flyme</a></li>
            <li class="layout-header-nav-item"><a href="#" class="layout-header-nav-link">社区</a></li>                          
          </ul>           
        </div>
         <!-- /.navbar-collapse -->
      </div>
     <!-- /.container-fluid -->
     <!-- 鼠标经过出现内容 -->
     <div class="layout-header-nav-child">
       <div class="container">
         <ul class="layout-header-nav-child-list first" >
           <li class="layout-header-nav-child-item">
             <a class="layout-header-nav-child-link" target="_blank" href="#">
               <div class="layout-header-nav-child-box">
                 <img src="./public/img/nav1.jpg" class="layout-header-nav-child-img" alt="PRO 7">
               </div>
               <p class="layout-header-nav-child-name">
                 PRO 7
               </p>
               <p class="layout-header-nav-child-bottom">
                 <span class="layout-header-nav-child-price">2880</span>起
               </p>
             </a>
           </li>  
           <li class="layout-header-nav-child-item">
             <a class="layout-header-nav-child-link" target="_blank" href="#">
               <div class="layout-header-nav-child-box">
                 <img src="./public/img/nav2.png" class="layout-header-nav-child-img" alt="PRO 7 Plus">
               </div>
               <p class="layout-header-nav-child-name">
                 PRO 7 Plus
               </p>
               <p class="layout-header-nav-child-bottom">
                 <span class="layout-header-nav-child-price">3580</span>起
               </p>
             </a>
           </li>
           <li class="layout-header-nav-child-item">
             <a class="layout-header-nav-child-link" target="_blank" href="#">
               <div class="layout-header-nav-child-box">
                 <img src="./public/img/nav3.jpg" class="layout-header-nav-child-img" alt="PRO 6 Plus">
               </div>
               <p class="layout-header-nav-child-name">
                 PRO 6 Plus
               </p>
               <p class="layout-header-nav-child-bottom">
                 <span class="layout-header-nav-child-price">2699</span>
               </p>
             </a>
           </li>
           <li class="layout-header-nav-child-item">
             <a class="layout-header-nav-child-link" target="_blank" href="#">
               <div class="layout-header-nav-child-box">
                 <img src="./public/img/nav4.png" class="layout-header-nav-child-img" alt="PRO 6s">
               </div>
               <p class="layout-header-nav-child-name">
                 PRO 6s
               </p>
               <p class="layout-header-nav-child-bottom">
                 <span class="layout-header-nav-child-price">2299</span>
               </p>
             </a>
           </li>
           <li class="layout-header-nav-child-item">
             <a class="layout-header-nav-child-link" target="_blank" href="#">
               <div class="layout-header-nav-child-box">
                 <img src="./public/img/nav5.jpg" class="layout-header-nav-child-img" alt="MX6">
               </div>
               <p class="layout-header-nav-child-name">
                 MX6
               </p>
               <p class="layout-header-nav-child-bottom">
                 <span class="layout-header-nav-child-price">1599</span>
               </p>
             </a>
           </li>
           
         </ul>
       </div>
     </div>
    </nav>
    <!-- 移动端结构 -->
    <div class="scroll-view">
      <header class="header orient-h fixed-top">
        <a class="header-back" href="./index.html">
          <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
        </a>
        <div class="title">手机</div>
        <div class="qtool">
            <a id="btn-search"><i class="glyphicon glyphicon-search"></i></a>
        </div>
      </header>
    </div><!-- 移动端结构 E-->
  </div><!-- 导航 E--> 

  <!-- 主内容区域 -->
  <div class="mainlist app-list">
    <div class="container">
      <!-- 面包屑 导航 -->
      <div class="ml-nav hidden-xs hidden-sm">
            <ol class="breadcrumb">
              <li><a href="./index.html">首页</a></li>
              <li><a href="#">全部商品</a></li>
            </ol>
      </div>
      <!-- 面包屑 导航 E-->
      <!-- 分类列表 -->
      <div class="selector hidden-xs hidden-sm">
      <div class="sl-category">
        <div class="sl-line-wrap clearfix">
          <div class="mod-key">分类：</div>
          <div class="mod-value">
            <div class="mod-value-list">
              <ul>
                <li class="">
                  <a href="javascript:void(0)" title="全部">全部</a>
                </li>
                <li class="">
                  <a href="javascript:void(0)" title="魅族系列">魅族系列</a>
                </li>
                <li class="">
                  <a href="javascript:void(0)" title="魅蓝系列">魅蓝系列</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sl-line-wrap clearfix">
            <div class="mod-key">屏幕尺寸</div>
            <div class="mod-value">
              <div class="mod-value-list">
                <ul>
                      <li class="">
                        <a href="javascript:void(0)" title="全部">全部</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.0尺寸">5.0尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.2尺寸">5.2尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.5尺寸">5.5尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="5.7尺寸">5.7尺寸</a>
                      </li>
                      <li class="">
                        <a href="javascript:void(0)" title="6.0尺寸">6.0尺寸</a>
                      </li>
                </ul>
              </div>
            </div>
          </div>     
        </div>
      </div>
      <!-- 分类列表 E -->

      <!-- 分类导航 -->
      <div class="filter clearfix hidden-xs hidden-sm" style="display:block">
        <div class="filter-order">
          <a class="active" data-tag="0" data-mtype="store_list_sx_1" href="javascript:void(0);">
              推荐
          </a>
          <a data-tag="1" data-mtype="store_list_sx_2" href="javascript:void(0);">
              新品
          </a>
          <a data-tag="2" data-mtype="store_list_sx_3" href="javascript:void(0);">
              价格<i class="icon-arrow-down"></i>
          </a>
        </div>
        <div class="filter-condition" >
          <label class="bs-checkbox" data-mtype="store_list_sx_xz">
              <i></i>仅显示有货商品
          </label>
        </div>
      </div>

      <!-- 移动端结构 -->
      <div class="list-filter" id="J_listFilter">
        <ul class="flex">
          <li class="current" style="display: list-item; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <a>
                全部<i class="arrow-down"></i>
            </a>
          </li>
          <li style="display: list-item; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <a>
                价格<i class="arrow-mini-up active" data-direction="1"></i><i class="arrow-mini-down" data-direction="-1"></i>
            </a>
          </li>

          <li id="J_btnChangeStyle" style="display: list-item; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <a>
                <i class="glyphicon glyphicon-th-large"></i>
            </a>
          </li>
        </ul>
      </div><!-- 移动端结构 E-->

      <!-- 分类导航 E -->

      <!-- 商品列表 -->
      <div class="goods-list">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list" >
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active mod-pic" id="list-p1">
                    <a href="./meilanx.html">
                      <img class="lazy j-modProduct" src="./public/img/list1.jpg" width="220" height="220">
                    </a>
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-p2">
                    <a href="./meilanx.html">
                      <img class="lazy j-modProduct" src="./public/img/list04.jpg" width="220" height="220">
                    </a>
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-p3">
                    <a href="./meilanx.html">
                      <img class="lazy j-modProduct" src="./public/img/list05.jpg" width="220" height="220">
                    </a>
                  </div>
                </div>

                <!-- Nav tabs -->
                <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                  <ul class="nav nav-tabs  " role="tablist">
                    <li role="presentation" class="active">
                      <a href="#list-p1" aria-controls="list-p1" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list01.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#list-p2" aria-controls="list-p2" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list02.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#list-p3" aria-controls="list-p3" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list03.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                </div>

                <h2>魅族 PRO 7</h2>
                <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                现货速发  双瞳如小窗 佳景观历历
                </h3>
                <dd class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">2880</span>
                    <span class="vm-start">起</span>
                </dd>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list" >
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
                <div class="gl-item-wrap">
                  <!-- Tab panes -->
                  <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active mod-pic" id="list-pr1">
                                <img class="lazy j-modProduct" src="./public/img/list2.jpg" width="220" height="220">
                        </div>
                        <div role="tabpanel" class="tab-pane mod-pic" id="list-pr2">
                                <img class="lazy j-modProduct" src="./public/img/list25.jpg" width="220" height="220">
                        </div>
                        <div role="tabpanel" class="tab-pane mod-pic" id="list-pr3">
                                  <img class="lazy j-modProduct" src="./public/img/list26.jpg" width="220" height="220">
                        </div>
                        <div role="tabpanel" class="tab-pane mod-pic" id="list-pr4">
                                  <img class="lazy j-modProduct" src="./public/img/list27.jpg" width="220" height="220">
                        </div>
                   </div>

                  <!-- Nav tabs -->
                  <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                    <ul class="nav nav-tabs  " role="tablist">
                      <li role="presentation" class="active">
                          <a href="#list-pr1" aria-controls="list-pr1" role="tab" data-toggle="tab">
                            <img class="lazy"  src="./public/img/list21.jpg" style="display: inline;" width="40" height="40">
                          </a>
                      </li>
                      <li role="presentation">
                        <a href="#list-pr2" aria-controls="list-pr2" role="tab" data-toggle="tab">
                          <img class="lazy"  src="./public/img/list22.jpg" style="display: inline;" width="40" height="40">
                        </a>
                      </li>
                      <li role="presentation">
                        <a href="#list-pr3" aria-controls="list-pr3" role="tab" data-toggle="tab">
                          <img class="lazy"  src="./public/img/list23.jpg" style="display: inline;" width="40" height="40">
                        </a>
                      </li>
                      <li role="presentation">
                        <a href="#list-pr4" aria-controls="list-pr4" role="tab" data-toggle="tab">
                          <img class="lazy"  src="./public/img/list24.jpg" style="display: inline;" width="40" height="40">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                  </div>
                  <h2>魅族 PRO 7 Plus</h2>
                  <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                  现货速发  双瞳如小窗 佳景观历历
                  </h3>
                  <dd class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">2880</span>
                    <span class="vm-start">起</span>
                  </dd>
                </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list"  style="display: none;">
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active mod-pic" id="list-pn1">
                          <img class="lazy j-modProduct" src="./public/img/list6.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pn2">
                          <img class="lazy j-modProduct" src="./public/img/list65.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pn3">
                            <img class="lazy j-modProduct" src="./public/img/list65.jpg" width="220" height="220">
                  </div>
                </div>

                <!-- Nav tabs -->
                <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                  <ul class="nav nav-tabs  " role="tablist">
                    <li role="presentation" class="active">
                      <a href="#list-pn1" aria-controls="list-pn1" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list61.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#list-pn2" aria-controls="list-pn2" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list63.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#list-pn3" aria-controls="list-pn3" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list62.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                </div>

                <h2>魅蓝 Note5</h2>
                <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                现货速发  双瞳如小窗 佳景观历历
                </h3>
                <dd class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">2880</span>
                    <span class="vm-start">起</span>
                </dd>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list"  style="display: none;">
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active mod-pic" id="list-pe1">
                          <img class="lazy j-modProduct" src="./public/img/list7.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pe2">
                          <img class="lazy j-modProduct" src="./public/img/list74.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pe3">
                            <img class="lazy j-modProduct" src="./public/img/list7.jpg" width="220" height="220">
                  </div>
                </div>

                <!-- Nav tabs -->
                <div class="item-slide j-pro-wrap hidden-xs hidden-sm">
                      <ul class="nav nav-tabs  " role="tablist">
                            <li role="presentation" class="active">
                                <a href="#list-pe1" aria-controls="list-pe1" role="tab" data-toggle="tab">
                                      <img class="lazy"  src="./public/img/list71.jpg" style="display: inline;" width="40" height="40">
                                </a>
                           </li>
                            <li role="presentation">
                                   <a href="#list-pe2" aria-controls="list-pe2" role="tab" data-toggle="tab">
                                        <img class="lazy"  src="./public/img/list73.jpg" style="display: inline;" width="40" height="40">
                                   </a>
                            </li>
                            <li role="presentation">
                                  <a href="#list-pe3" aria-controls="list-p3" role="tab" data-toggle="tab">
                                        <img class="lazy"  src="./public/img/list72.jpg" style="display: inline;" width="40" height="40">
                                  </a>
                            </li>
                      </ul>
                </div>
                <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                </div>

                <h2>魅蓝 E2</h2>
                <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                现货速发  双瞳如小窗 佳景观历历
                </h3>
                <dd class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">2880</span>
                    <span class="vm-start">起</span>
                </dd>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list" >
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active mod-pic" id="list-p11">
                      <img class="lazy j-modProduct" src="./public/img/list1.jpg" width="220" height="220">
                    </div>
                    <div role="tabpanel" class="tab-pane mod-pic" id="list-p112">
                      <img class="lazy j-modProduct" src="./public/img/list04.jpg" width="220" height="220">
                    </div>
                    <div role="tabpanel" class="tab-pane mod-pic" id="list-p3">
                      <img class="lazy j-modProduct" src="./public/img/list05.jpg" width="220" height="220">
                    </div>
                  </div>

                  <!-- Nav tabs -->
                  <div class="item-slide j-pro-wrap hidden-xs hidden-sm">
                    <ul class="nav nav-tabs  " role="tablist">
                      <li role="presentation" class="active">
                          <a href="#list-p11" aria-controls="list-p11" role="tab" data-toggle="tab">
                            <img class="lazy"  src="./public/img/list01.jpg" style="display: inline;" width="40" height="40">
                          </a>
                      </li>
                      <li role="presentation">
                        <a href="#list-p12" aria-controls="list-p12" role="tab" data-toggle="tab">
                          <img class="lazy"  src="./public/img/list02.jpg" style="display: inline;" width="40" height="40">
                        </a>
                      </li>
                      <li role="presentation">
                        <a href="#list-p13" aria-controls="list-p13" role="tab" data-toggle="tab">
                          <img class="lazy"  src="./public/img/list03.jpg" style="display: inline;" width="40" height="40">
                        </a>
                      </li>
                    </ul>
                  </div>


                  <div class="slide-btn j-modBtns" style="display: none;">
                      <span  class="prev iconfont disabled"></span>
                      <span  class="next iconfont"></span>
                  </div>

                  <h2>魅族 PRO 7</h2>
                  <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                  现货速发  双瞳如小窗 佳景观历历
                  </h3>
                  <dd class="mod-price">
                      <span>￥</span>
                      <span class="vm-price">2880</span>
                      <span class="vm-start">起</span>
                  </dd>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
           <div class="gl-item">
              <div class="compare-btn-list" >
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
                <div class="gl-item-wrap">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active mod-pic" id="list-pr11">
                      <img class="lazy j-modProduct" src="./public/img/list2.jpg" width="220" height="220">
                    </div>
                    <div role="tabpanel" class="tab-pane mod-pic" id="list-pr12">
                      <img class="lazy j-modProduct" src="./public/img/list25.jpg" width="220" height="220">
                    </div>
                    <div role="tabpanel" class="tab-pane mod-pic" id="list-pr13">
                      <img class="lazy j-modProduct" src="./public/img/list26.jpg" width="220" height="220">
                    </div>
                    <div role="tabpanel" class="tab-pane mod-pic" id="list-pr4">
                      <img class="lazy j-modProduct" src="./public/img/list27.jpg" width="220" height="220">
                    </div>
                  </div>

                  <!-- Nav tabs -->
                  <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                    <ul class="nav nav-tabs  " role="tablist">
                          <li role="presentation" class="active">
                            <a href="#list-pr11" aria-controls="list-pr11" role="tab" data-toggle="tab">
                                  <img class="lazy"  src="./public/img/list21.jpg" style="display: inline;" width="40" height="40">
                            </a>
                         </li>
                          <li role="presentation">
                             <a href="#list-pr12" aria-controls="list-pr12" role="tab" data-toggle="tab">
                                  <img class="lazy"  src="./public/img/list22.jpg" style="display: inline;" width="40" height="40">
                             </a>
                          </li>
                          <li role="presentation">
                            <a href="#list-pr13" aria-controls="list-pr13" role="tab" data-toggle="tab">
                                  <img class="lazy"  src="./public/img/list23.jpg" style="display: inline;" width="40" height="40">
                            </a>
                          </li>
                    </ul>
                  </div>


                  <div class="slide-btn j-modBtns" style="display: none;">
                      <span  class="prev iconfont disabled"></span>
                      <span  class="next iconfont"></span>
                  </div>

                  <h2>魅族 PRO 7 Plus</h2>
                  <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                  现货速发  双瞳如小窗 佳景观历历
                  </h3>
                  <dd class="mod-price">
                      <span>￥</span>
                      <span class="vm-price">2880</span>
                      <span class="vm-start">起</span>
                  </dd>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list"  style="display: none;">
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active mod-pic" id="list-pn11">
                          <img class="lazy j-modProduct" src="./public/img/list6.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pn12">
                          <img class="lazy j-modProduct" src="./public/img/list65.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pn13">
                            <img class="lazy j-modProduct" src="./public/img/list65.jpg" width="220" height="220">
                  </div>
                </div>

                <!-- Nav tabs -->
                <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                  <ul class="nav nav-tabs  " role="tablist">
                    <li role="presentation" class="active">
                      <a href="#list-pn11" aria-controls="list-pn11" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list61.jpg" style="display: inline;" width="40" height="40">
                      </a>
                   </li>
                    <li role="presentation">
                      <a href="#list-pn12" aria-controls="list-pn12" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list63.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#list-pn13" aria-controls="list-pn13" role="tab" data-toggle="tab">
                        <img class="lazy"  src="./public/img/list62.jpg" style="display: inline;" width="40" height="40">
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                </div>

                <h2>魅蓝 Note5</h2>
                <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                现货速发  双瞳如小窗 佳景观历历
                </h3>
                <dd class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">2880</span>
                    <span class="vm-start">起</span>
                </dd>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="gl-item">
              <div class="compare-btn-list"  style="display: none;">
                  <i class="iconfont  icon-duibi compare-duibi"></i>
                  <span class="hidden-xs hidden-sm">对比</span>
              </div>
              <div class="gl-item-wrap">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active mod-pic" id="list-pe1">
                    <img class="lazy j-modProduct" src="./public/img/list7.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pe2">
                    <img class="lazy j-modProduct" src="./public/img/list74.jpg" width="220" height="220">
                  </div>
                  <div role="tabpanel" class="tab-pane mod-pic" id="list-pe3">
                    <img class="lazy j-modProduct" src="./public/img/list7.jpg" width="220" height="220">
                  </div>
                </div>

                <!-- Nav tabs -->
                <div class="item-slide j-pro-wrap  hidden-xs hidden-sm">
                  <ul class="nav nav-tabs  " role="tablist">
                    <li role="presentation" class="active">
                        <a href="#list-pe1" aria-controls="list-pe1" role="tab" data-toggle="tab">
                              <img class="lazy"  src="./public/img/list71.jpg" style="display: inline;" width="40" height="40">
                        </a>
                   </li>
                    <li role="presentation">
                           <a href="#list-pe2" aria-controls="list-pe2" role="tab" data-toggle="tab">
                                <img class="lazy"  src="./public/img/list73.jpg" style="display: inline;" width="40" height="40">
                           </a>
                    </li>
                    <li role="presentation">
                          <a href="#list-pe3" aria-controls="list-p3" role="tab" data-toggle="tab">
                                <img class="lazy"  src="./public/img/list72.jpg" style="display: inline;" width="40" height="40">
                          </a>
                    </li>
                  </ul>
                </div>

                <div class="slide-btn j-modBtns" style="display: none;">
                    <span  class="prev iconfont disabled"></span>
                    <span  class="next iconfont"></span>
                </div>

                <h2>魅蓝 E2</h2>
                <h3 class="red" title="现货速发  双瞳如小窗 佳景观历历">
                现货速发  双瞳如小窗 佳景观历历
                </h3>
                <dd class="mod-price">
                    <span>￥</span>
                    <span class="vm-price">2880</span>
                    <span class="vm-start">起</span>
                </dd>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 商品列表 -->
      <!-- 推荐商品 -->
      <div class="recommend  hidden-xs hidden-sm">
       <div class="recommend-hd">
            <h2 class="mod-title">为您推荐</h2>
       </div>
       <div class="recommend-slider">
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="recommend-slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅蓝 Note5" href="#" target="_blank">
                  <div class="mod-pic">
                    <img src="./public/img/list81.jpg" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                    <h4 class="vm-title">魅蓝 Note5 </h4>
                    <h6 class="vm-subtitle" title="6期免息  16G直降100元">6期免息  16G直降100元</h6>
                    <p class="vm-price">
                        <span>¥</span><span class="vm-price-text">899</span>
                    </p>
                  </div>
                  <span class="mod-sign" style="background-color: #f0415f;">特惠</span>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅蓝 5s" href="#" target="_blank">
                  <div class="mod-pic">
                          <img src="./public/img/list82.jpg" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                      <h4 class="vm-title">魅蓝 5s </h4>
                      <h6 class="vm-subtitle" title="32G版限量赠壳膜">32G版限量赠壳膜</h6>
                      <p class="vm-price">
                          <span>¥</span><span class="vm-price-text">999</span>
                      </p>
                  </div>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅族 MX6" href="#" target="_blank">
                  <div class="mod-pic">
                          <img src="./public/img/list83.jpg" style="display: inline;" width="180" height="180">
                      </div>
                  <div class="mod-desc">
                      <h4 class="vm-title">魅族 MX6 </h4>
                      <h6 class="vm-subtitle" title="全金属 拍照旗舰">全金属 拍照旗舰</h6>
                      <p class="vm-price">
                          <span>¥</span><span class="vm-price-text">1599</span>
                      </p>
                  </div>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a class="rs-item-wrap" title="魅蓝 Max" href="#" target="_blank">
                  <div class="mod-pic">
                    <img src="./public/img/list84.jpg" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                    <h4 class="vm-title">魅蓝 Max </h4>
                    <h6 class="vm-subtitle" title="大屏长续航 享3期免息">大屏长续航 享3期免息</h6>
                    <p class="vm-price">
                        <span>¥</span><span class="vm-price-text">1699</span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="rs-item" style="width: 245.6px; margin-right: 5px; float: left; display: block;">
                <a  class="rs-item-wrap" title="魅蓝 E2" href="#" target="_blank">
                  <div class="mod-pic">
                    <img src="./public/img/list85.jpg" style="display: inline;" width="180" height="180">
                  </div>
                  <div class="mod-desc">
                      <h4 class="vm-title">魅蓝 E2 </h4>
                      <h6 class="vm-subtitle" title="三色现货 购机享3期免息">三色现货 购机享3期免息</h6>
                      <p class="vm-price">
                          <span>¥</span><span class="vm-price-text">1299</span>
                      </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 推荐商品 E -->

    </div>
  </div>
  <!-- 主内容区域 E-->

  <!-- 底部区域 -->
  <footer class="layout-footer  hidden-xs hidden-sm">
    <div class="container">
      <div class="layout-footer-top clearfix">
          <ul class="layout-footer-services clearfix">
              <li class="layout-footer-services-item">
                <a href="#" class="layout-footer-services-link" target="_blank" >
                  <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-sd-video"></i></span>
                  <span class="layout-footer-services-text">顺丰包邮</span>
                </a>
              </li>
              <li class="layout-footer-services-item">
                <a href="#" class="layout-footer-services-link" target="_blank">
                  <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-flash"></i></span>
                  <span class="layout-footer-services-text">100+ 城市次日送达</span>
                </a>
              </li>
              <li class="layout-footer-services-item">
                <a href="#" class="layout-footer-services-link" target="_blank" >
                  <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-repeat"></i></span>
                  <span class="layout-footer-services-text">7 天无理由退货</span>
                </a>
              </li>
              <li class="layout-footer-services-item">
                <a href="#" class="layout-footer-services-link" target="_blank" >
                  <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-refresh"></i></span>
                  <span class="layout-footer-services-text">15 天换货保障</span>
               </a>
              </li>
              <li class="layout-footer-services-item">
                <a href="#" class="layout-footer-services-link" target="_blank">
                  <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-wrench"></i></span>
                  <span class="layout-footer-services-text">1 年免费保修</span>
                </a>
              </li>
              <li class="layout-footer-services-item">
                <a href="#" class="layout-footer-services-link" target="_blank">
                  <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-map-marker"></i></span>
                  <span class="layout-footer-services-text">2300+ 线下体验店</span>
                </a>
              </li>
              <li class="layout-footer-services-item">
                  <a href="#" class="layout-footer-services-link" target="_blank">
                    <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-sort"></i></span>
                    <span class="layout-footer-services-text">远程支持服务</span>
                  </a>
              </li>
              <li class="layout-footer-services-item">
                  <a href="#" class="layout-footer-services-link" target="_blank" data-mtype="wmz_public_foot_homerepair">
                    <span class="layout-footer-service-wrap"><i class="glyphicon glyphicon-home"></i></span>
                    <span class="layout-footer-services-text">上门快修</span>
                </a>
              </li>
          </ul>
            <div class="layout-footer-contact">
                  <p class="layout-footer-contact-desc">24小时全国服务热线</p>
                  <a href="tel:400-788-3333" class="layout-footer-contact-tel">400-788-3333</a>
                  <p>
                        <a href="javascript:void(0);" class="layout-footer-contact-online">
                              <i class="layout-font layout-font-talk1"></i><span class="text">在线客服</span>
                        </a>
                  </p>
            </div>
      </div>
      <div class="layout-footer-bottom clearfix">
          <ul class="layout-footer-interlock clearfix">
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link">了解魅族</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link" >加入我们</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link" >联系我们</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link" >Flyme</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link">魅族社区</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link">天猫旗舰店</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="#" target="_blank" class="layout-footer-interlock-link" >问题反馈</a>
              </li>
              <li class="layout-footer-interlock-item">
                  <a href="//www.meizu.com/authorization.html" target="_blank" class="layout-footer-interlock-link" >线上销售授权名单公示</a>
              </li>
          </ul>
          <div class="layout-footer-copyright clearfix">
                  <span class="layout-footer-copyright-left">
                        <a class="layout-footer-copyright-link copyright-text">&copy;2017 Meizu Telecom Equipment Co., Ltd. All rights reserved.</a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="#" target="_blank">粤ICP备13003602号-2</a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="#" target="_blank">合字B2-20170010</a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="#" target="_blank">营业执照</a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="3" target="_blank">法律声明</a>
                        <a class="layout-footer-copyright-link">粤公网安备 44049102496009 号</a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
                          <i class="layout-icon layout-icon-license"></i>
                        </a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
                          <i class="layout-icon layout-icon-wel"></i>
                        </a>
                        <a class="layout-footer-copyright-link" hidefocus="true" href="#" rel="nofollow" target="_blank">
                            <i class="layout-icon layout-icon-trust"></i>
                        </a>
                   </span>
                  <ul class="layout-footer-media clearfix">
                        <li class="layout-footer-media-item">
                              <a href="http://weibo.com/meizumobile" class="layout-footer-media-link">
                                    <i class="layout-font layout-font-weibo"></i>
                              </a>
                        </li>
                        <li class="layout-footer-media-item">
                              <a href="javascript:void(0);" class="layout-footer-media-link wechat">
                                    <i class="layout-font layout-font-wechat"></i>
                                    <div class="layout-footer-media-wechat-qrcode">
                                      <img class="layout-footer-media-wechat-img" src="" alt="微信二维码">
                                    </div>
                              </a>
                        </li>
                        <li class="layout-footer-media-item">
                              <a href="#" class="layout-footer-media-link">
                                    <i class="layout-font layout-font-qzone"></i>
                              </a>
                        </li>
                  </ul>
          </div>
      </div>
    </div>
  </footer><!-- 底部区域 E -->

<!-- 返回顶部 -->
  <div class="layout-magnet layout-magnet-show">  
    <div class="layout-magnet-item layout-magnet-item-top">
      <a href="javascript:void(0);" class="layout-magnet-link" data-mtype="wmz_public_cbxf_top">
        <div class="layout-magnet-icon">
          <i class="glyphicon glyphicon-menu-up"></i>
        </div>
      </a>
    </div>
  </div><!-- 返回顶部 E-->

  <!-- 调用函数 -->
  <script type="text/javascript">
  //顶部导航鼠标经过出现内容
   topNav();
  //登录图片鼠标经过
   topLogin();

  //鼠标经过出现
   comPro();
  //回顶部
   backTop();
   //移动端置顶
   appTopNav();
  </script>
</body>
</html>